* {
  box-sizing: border-box;
}

:root {
  --b-radius: 0.3em;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  height: 95vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: deepskyblue;
  flex-direction: column;
}

input {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid lightskyblue;
  padding: 0.5em;
}
input:focus {
  outline: none;
  background: lightskyblue;
  color: #fff;
}
input::placeholder {
  color: rgb(191, 222, 252);
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid lightskyblue;
  background: transparent;
  border-radius: var(--b-radius);
  padding: 0.5em 1.2em;
  color: deepskyblue;
}
button:hover {
  color: #ffff;
  background: deepskyblue;
}
a {
  text-decoration: none;
  color: inherit;
}
.login,
.secret-content {
  height: 50vh;
  width: 50vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}
.login {
  border-radius: var(--b-radius);
  border: 1px solid lightskyblue;
}
.login form > * {
  margin-bottom: 1rem;
}
.login span {
  cursor: pointer;
}
.secret-content img {
  justify-content: center;
  width: 100%;
  margin-bottom: 2em;
}

.secret-content .actions-container {
  justify-content: space-between;
  padding: 1em 0;
}

.user-msg {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: lightskyblue;
  padding: 0.1rem 2rem;
  border-radius: 0.8em;
  transition: all 0.5s ease-in-out;
  transform: translateX(150%);
  color: #fff;
}

.user-msg.open {
  transform: translateX(0);
}
/* helper functions */
.flex {
  display: flex;
}

.hide {
  display: none;
}

.debug {
  border: 1px solid yellowgreen;
}

.display-actions-container {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}
.user-list {
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: 75vw;
  gap: 30px;
}
.user-list article {
  position: relative;
  text-align: center;
  padding: 1em;
  border: 1px solid lightskyblue;
  border-radius: var(--b-radius);
}
table {
  width: 75%;
  border-radius: var(--b-radius);
}

table,
tr,
td {
  border: 0.5px solid black;
  border-collapse: collapse;
}

td:not(:first-child) {
  text-align: center;
}
th:not(:last-child, :first-child) {
  cursor: pointer;
}
th:not(:last-child, :first-child):hover {
  background: lightskyblue;
  color: #ffff;
  border-radius: var(--b-radius);
}
article:hover::after {
  content: "X";
  opacity: 0.5;
  font-size: 1em;
  position: absolute;
  color: lightcoral;
  text-align: center;
  bottom: 0.2em;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
